@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppings", sans-serif;
    background-color: #EDEFEE;
}

a, a:hover {
    text-decoration: none;
}

.logo a > img {
    width: 40px;
    margin-right: 10px;
}

nav {
    background: #222;
    padding: 5px 20px;
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
}

nav a {
    color: #fff;
}

nav a:hover {
    color: #ef4b3f;
}

.logo {
    flex: 1;
    align-items: center;
    font-size: 20px;
}

.logo a {
    display: flex;
    align-items: center;
    font-size: 20px;
}

.logo a:hover {
    color: #fff;
}

.menu {
    display: flex;
    align-items: center;
    list-style: none;
}

.menu li {
    padding: 15px 10px;
    font-size: 16px;
}

.toggle {
    font-size: 30px;
    display: none;
}

#intro {
    padding-top: 7em;
}

.container {
    width: 90vw;
    margin: 0 auto;
}

section {
    padding-top: 8vh;
}

.banner {
    background-image: url('img/barber-shop.jpg');
    width: 100%;
    height: 600px;
    background-size: cover;
    border-radius: 35px;
}

.banner h2 {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: #D0604C;
    font-size: 9em;
    letter-spacing: 10px;
}

.banner-promo {
    background-color: #F9F7F1;
    padding: 50px;
    border-radius: 35px;
    display: flex;
    align-items: center;
}

.header-promo {
    font-weight: 900;
    font-size: 2.8em;
    margin-right: 0.9em;
}

hr {
    border: 2px solid black;
}

.body-promo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0.2em 0;
}

.body-promo h3 {
    font-size: 2em;
    padding: 0.3em 0;
}

.body-promo p {
    font-size: 1.4em;
}

.row-about {
    display: flex;
    justify-content: space-between;
    gap: 5em;
}

.col-about {
    background-color: #fffcf2;
    padding: 50px;
    border-radius: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vh;
}

.col-about > h1 {
    padding: 0.5em;
}

.col-about img {
    width: 100%;
    height: 300px;
    background-color: #f7ede2;
    border: 2px solid black;
    border-radius: 1em;
    margin-bottom: 1em;
}

.col-about article {
    padding: 0.5em;
}

.col-about p > span {
    display: block;
    font-weight: bold;
    padding-top: 0.5em;
}

.col-about p > span:nth-child(3) {
    padding-bottom: 0.5em;
}

.opening-hours {
    margin: 3em 0;
    font-size: 1.4em;
}

footer {
    margin-top: 15em;
    display: flex;
    background-color: #222;
    justify-content: space-between;
}

footer div {
    padding: 1em;
}

footer > img {
    width: 70px;
    height: 70px;
    padding: 1em;
}

footer div > p {
    color: white;
}

footer div > hr {
    margin-bottom: 0.5em;
    border: 2px solid white;
}

@media screen and (max-width: 600px) {
    nav {
        display: block;
        position: relative;
        padding: 15px 20px;
    }

    .menu {
        margin-top: 15px;
        display: none;
    }

    .menu.active, .toggle {
        display: block;
    }

    .toggle {
        position: absolute;
        top: 15px;
        right: 20px;
    }
}
